1 VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
   BLOCK "StringFileInfo"
   BEGIN
      BLOCK "08094E4"
      BEGIN
         VALUE "CompanyName", ""
         VALUE "FileDescription", "Asteroids SDL"
         VALUE "FileVersion", "1.0"
         VALUE "InternalName", "AsteroidsSDL"
         VALUE "LegalCopyright", "Jason Birch"
         VALUE "OriginalFilename", "AsteroidsSDL.exe"
         VALUE "ProductName", "Asteroids SDL"
         VALUE "ProductVersion", "1.0"
      END
   END
   BLOCK "VerFileInfo"
   BEGIN
      VALUE "Translation", 0x809, 1252
   END
END
